<div class="container">
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <!-- <th>Catégorie</th> -->
                </tr> 
                @for (type_impot of type_impots; track type_impot.idType_Impot) { <tbody>
                    <tr>
                        <td>{{type_impot.idType_Impot}}</td>
                        <td>{{type_impot.typeImpotDesc}}</td>
                        <!-- <td>{{type_impot.categorie.descriptionCat}}</td> -->
                        <td><a class="btn btn-danger" (click)="supprimerType_Impot(type_impot)">Supprimer</a></td> 
                        <td><a class="btn btn-success" [routerLink]="['/updateType_Impot', type_impot.idType_Impot]">Modifier</a></td>
                    </tr>
                </tbody> } 
            </table>  
        </div> 
    </div>
</div>