<div class="container">
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Valeur Fixe</th>
                </tr> 
                @for (categorie of categories; track categorie.idCategorie) { <tbody>
                    <tr>
                        <td>{{categorie.idCategorie}}</td>
                        <td>{{categorie.descriptionCat}}</td>
                        <td>{{categorie.valeurFixeFL}}</td> 
                        <td><a class="btn btn-danger" (click)="supprimerCategorie(categorie)">Supprimer</a></td> 
                        <td><a class="btn btn-success" [routerLink]="['/updateCategorie',categorie.idCategorie]">Modifier</a></td>
                    </tr>
                </tbody> } 
            </table>  
        </div> 
    </div>
    
</div>